[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "*"
fsspec = "*"
huggingface-hub = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.11"

[scripts]
lint = "flake8 ."
format = "black ."
